.bg-block {
    width: 1100px;
    height: 400px;
    margin: auto;
    border: 1px solid #c5c5c5;

    background-image: url('../img/icons/airbnb.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    
}