.flex-box {
    display: flex;
    flex-flow: row wrap; /* === flex-direction: column + flex-wrap: wrap*/
    background-color: rgba(130, 196, 192, 0.5);
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    height: 600px;
}

.flex-item {
    width: 200px;
    height: 200px;
    background-color: olive;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}