.card {
    width: 300px;
    margin: auto;
    border: 1px solid rgb(182, 180, 180);
}

.card-content {

}

.card-title {
    font-size: 26px;
    color: coral;
    margin-bottom: 15px;
}

.card-subtitle {
    font-size: 18px;
    color: palevioletred;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 50px;
}

.card-text p{
    font-size: 16px;
    color: rgb(87, 87, 87);
}

.card-btn {

}