@import url('../css/awesome.css');
@import url('../css/width.css');
@import url('../css/card.css');

* {
    margin: 0;
}

#some-class {
    color: royalblue;
    margin-right: 50px;
    margin-left: 20px;
}

.some-class {
    color: palevioletred;
}

span {
    /*color: coral !important;*/
}

/*.container * {
    font-size: 24px;
}*/



