.axure {
    width: 100%;
    padding: 58px 0 38px;
    background-image: url('../img/bg_axure.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.axure::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.axure .title {
    font-family: "Raleway";
    color: #fff;
}

.axure .title::after {
    border-top: 1px solid #FFF;
}

.axure h1 {
    font-weight: normal;
    font-style: normal;
}

.axure {
    border-color: #fff;
}

.axure .description {
    color: rgba(255, 255, 255, 0.8);
}

.button-download {
    width: 135px;
    height: 42px;
    margin-top: 57px;
    margin-left: calc(50% - 67.5px);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    position: relative;
    z-index: 1000;
}

.button-download:hover {
    cursor: pointer;
}

.button-download-square {
    border: 1px solid #ffc;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}
.button-download-square:nth-child(2) {
    animation-name: pulse_2;
}

.button-download-square:nth-child(3) {
    animation-name: pulse_3;
}

@keyframes pulse_1 {
    from {
    opacity: 1;
    transform: scale(0.8);
    }

    to {
    opacity: 0;
    transform: scale(1.1);
    }
}

@keyframes pulse_2 {
    from {
    opacity: 1;
    transform: scale(0.9);
    }

    to {
    opacity: 0;
    transform: scale(1.2);
    }
}

@keyframes pulse_3 {
    from {
    opacity: 1;
    transform: scale(0.9);
    }
    to {
    opacity: 0;
    transform: scale(1.3);
    }
}