.pricing {
    width: 100%;
    background-color: #f5f5f5;
    /* height: 800px; */
    text-align: center;
    padding: 80px 0 60px;
}

.flex-tariff {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
}

.tariff {
    display: flex;
    width: 340px;
    flex-direction: column;
    color: #fff;
}

.tariff-item-description:nth-child(-n+3) {
    background-color: #333;
    font-weight: 700;
}

.tariff-item-description:nth-child(1) {
    font-weight: 700;
    height: 50px;
    font-size: 1.43rem;
    line-height: 27px;
    padding: 9px 0 14px;
    color: #fff;
}

.tariff-item-description:nth-child(2) {
    height: 100px;
    font-size: 2.5rem;
    line-height: 41px;
    margin-top: 1px;
    padding: 26px 0 33px;
    color: #fff;
}

.tariff-item-description:nth-child(3) {
    font-weight: 600;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
    padding: 17px 0 14px;
}

.tariff-price, .tariff-name, .tariff-option {
    background-color: #333;
    font-weight: 700;
}

.tariff-name {
    font-weight: 700;
    height: 50px;
    font-size: 1.43rem;
    padding: 9px 0 14px;
    box-sizing: border-box;
}

.tariff-price {
    height: 100px;
    font-size: 2.5rem;
    margin-top: 1px;
    padding: 26px 0 33px;
    box-sizing: border-box;
}

.tariff-option {
    font-weight: 600;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
    padding: 17px 0 14px;
    box-sizing: border-box;
}

.tariff-item-description {
    box-sizing: border-box;
    background-color: #fff;
    height: 40px;
    color: #86878B;
    font-size: 1rem;
    margin-top: 4px;
    line-height: 1.36rem;
    padding: 9px 0 14px;
}

.tariff-description-text {
    margin: auto;
}